[dev-packages]
autopep8 = "*"
coverage = "*"
flake8 = "*"

[packages]
python-bitcoinrpc = "*"

[scripts]
get_address = "python elements-rpc.py get_address"
listunspent = "python elements-rpc.py listunspent"
pip_install = "pip install"
pip_list = "pip list"
script = "python script.py "
script3 = "python3 script.py "
sign = "python elements-rpc.py sign"
sign_tx = "python elements-rpc.py sign"
